@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #f3e7d7;
  }

  body {
    font-family: 'Golos Text', sans-serif;
    @apply text-black;
  }

  h1 {
    @apply font-bold text-3xl;
  }

  ul {
    @apply list-none p-0 m-0;
  }
}

@layer components {
  .subject-list {
    font-family: 'Climate Crisis', serif;
    display: flex;
    flex-direction: column;
  }

  .subject-list a:link {
    transition: 0.3s ease;
    letter-spacing: 1px;
  }
}

/* Define text colors here, so these classes are always included in output.css. This way, dynamically generated `text-${color}` classes still work. */
.text-white {
  color: #ffffff;
}

.text-black {
  color: #060a0d;
}

.text-cream {
  color: #f3e7d7;
}

.text-gray {
  color: #9ca3af;
}

.text-green {
  color: #145048;
}

.text-blue {
  color: #014ba4;
}

.text-purple {
  color: #b25685;
}

.text-red {
  color: #cd4022;
}

.text-yellow {
  color: #ffac44;
}

.bg-accent {
  background-color: #252527;
}

.textShadow-green:hover {
  --shadow-color: #bdefe8; /* 80% lighter */
  --outline-color: #10403a; /* 20% darker */
  -webkit-text-stroke: 2px var(--outline-color);

  text-shadow:
     /* main 3D shadow */ 1px 0px 0 var(--shadow-color),
    2px 1px 0 var(--shadow-color), 3px 2px 0 var(--shadow-color),
    4px 3px 0 var(--shadow-color), 5px 4px 0 var(--shadow-color),
    6px 5px 0 var(--shadow-color), 7px 6px 0 var(--shadow-color),
    8px 7px 0 var(--shadow-color), 9px 8px 0 var(--shadow-color),
    10px 9px 0 var(--shadow-color), 11px 10px 0 var(--shadow-color),
    12px 11px 0 var(--shadow-color),
    /* bottom right */ 0 1px 1px var(--outline-color),
    0 2px 0px var(--outline-color),
    /* bottom right corner */ 11px 10px 0px var(--outline-color),
    12px 11px 0px var(--outline-color), 13px 12px 0px var(--outline-color),
    14px 13px 0px var(--outline-color),
    /* top right */ 2px -1px 0 var(--outline-color),
    3px 0px 0 var(--outline-color),
    /* top right corner*/ 15px 11px 0 var(--outline-color),
    14px 10px 0 var(--outline-color), 13px 9px 0 var(--outline-color),
    12px 8px 0 var(--outline-color), 11px 7px 0 var(--outline-color),
    10px 6px 0 var(--outline-color), 9px 5px 0 var(--outline-color),
    8px 4px 0 var(--outline-color), 7px 3px 0 var(--outline-color),
    6px 2px 0 var(--outline-color), 5px 1px 0 var(--outline-color),
    4px 0px 0 var(--outline-color),
    /* bottom left / (bottom left side for capital T like H etc letters. */ 0px
      2px 0px var(--outline-color),
    1px 3px 0px var(--outline-color), 2px 4px 0px var(--outline-color),
    3px 5px 0px var(--outline-color), 4px 6px 0px var(--outline-color),
    5px 7px 0px var(--outline-color), 6px 8px 0px var(--outline-color),
    7px 9px 0px var(--outline-color), 8px 10px 0px var(--outline-color),
    9px 11px 0px var(--outline-color), 10px 12px 0px var(--outline-color),
    11px 13px 0px var(--outline-color);
}

.textShadow-blue:hover {
  --shadow-color: #bad9ff; /* 80% lighter */
  --outline-color: #013c83; /* 20% darker */
  -webkit-text-stroke: 2px var(--outline-color);

  text-shadow:
     /* main 3D shadow */ 1px 0px 0 var(--shadow-color),
    2px 1px 0 var(--shadow-color), 3px 2px 0 var(--shadow-color),
    4px 3px 0 var(--shadow-color), 5px 4px 0 var(--shadow-color),
    6px 5px 0 var(--shadow-color), 7px 6px 0 var(--shadow-color),
    8px 7px 0 var(--shadow-color), 9px 8px 0 var(--shadow-color),
    10px 9px 0 var(--shadow-color), 11px 10px 0 var(--shadow-color),
    12px 11px 0 var(--shadow-color),
    /* bottom right */ 0 1px 1px var(--outline-color),
    0 2px 0px var(--outline-color),
    /* bottom right corner */ 11px 10px 0px var(--outline-color),
    12px 11px 0px var(--outline-color), 13px 12px 0px var(--outline-color),
    14px 13px 0px var(--outline-color),
    /* top right */ 2px -1px 0 var(--outline-color),
    3px 0px 0 var(--outline-color),
    /* top right corner*/ 15px 11px 0 var(--outline-color),
    14px 10px 0 var(--outline-color), 13px 9px 0 var(--outline-color),
    12px 8px 0 var(--outline-color), 11px 7px 0 var(--outline-color),
    10px 6px 0 var(--outline-color), 9px 5px 0 var(--outline-color),
    8px 4px 0 var(--outline-color), 7px 3px 0 var(--outline-color),
    6px 2px 0 var(--outline-color), 5px 1px 0 var(--outline-color),
    4px 0px 0 var(--outline-color),
    /* bottom left / (bottom left side for capital T like H etc letters. */ 0px
      2px 0px var(--outline-color),
    1px 3px 0px var(--outline-color), 2px 4px 0px var(--outline-color),
    3px 5px 0px var(--outline-color), 4px 6px 0px var(--outline-color),
    5px 7px 0px var(--outline-color), 6px 8px 0px var(--outline-color),
    7px 9px 0px var(--outline-color), 8px 10px 0px var(--outline-color),
    9px 11px 0px var(--outline-color), 10px 12px 0px var(--outline-color),
    11px 13px 0px var(--outline-color);
}

.textShadow-purple:hover {
  --shadow-color: #e5c2d4;
  --outline-color: #91426a; /* 20% darker */
  -webkit-text-stroke: 2px var(--outline-color);

  text-shadow:
     /* main 3D shadow */ 1px 0px 0 var(--shadow-color),
    2px 1px 0 var(--shadow-color), 3px 2px 0 var(--shadow-color),
    4px 3px 0 var(--shadow-color), 5px 4px 0 var(--shadow-color),
    6px 5px 0 var(--shadow-color), 7px 6px 0 var(--shadow-color),
    8px 7px 0 var(--shadow-color), 9px 8px 0 var(--shadow-color),
    10px 9px 0 var(--shadow-color), 11px 10px 0 var(--shadow-color),
    12px 11px 0 var(--shadow-color),
    /* bottom right */ 0 1px 1px var(--outline-color),
    0 2px 0px var(--outline-color),
    /* bottom right corner */ 11px 10px 0px var(--outline-color),
    12px 11px 0px var(--outline-color), 13px 12px 0px var(--outline-color),
    14px 13px 0px var(--outline-color),
    /* top right */ 2px -1px 0 var(--outline-color),
    3px 0px 0 var(--outline-color),
    /* top right corner*/ 15px 11px 0 var(--outline-color),
    14px 10px 0 var(--outline-color), 13px 9px 0 var(--outline-color),
    12px 8px 0 var(--outline-color), 11px 7px 0 var(--outline-color),
    10px 6px 0 var(--outline-color), 9px 5px 0 var(--outline-color),
    8px 4px 0 var(--outline-color), 7px 3px 0 var(--outline-color),
    6px 2px 0 var(--outline-color), 5px 1px 0 var(--outline-color),
    4px 0px 0 var(--outline-color),
    /* bottom left / (bottom left side for capital T like H etc letters. */ 0px
      2px 0px var(--outline-color),
    1px 3px 0px var(--outline-color), 2px 4px 0px var(--outline-color),
    3px 5px 0px var(--outline-color), 4px 6px 0px var(--outline-color),
    5px 7px 0px var(--outline-color), 6px 8px 0px var(--outline-color),
    7px 9px 0px var(--outline-color), 8px 10px 0px var(--outline-color),
    9px 11px 0px var(--outline-color), 10px 12px 0px var(--outline-color),
    11px 13px 0px var(--outline-color);
}

.textShadow-red:hover {
  --shadow-color: #f7d7d1; /* 80% */
  --outline-color: #a4331b; /* 20% darker */
  -webkit-text-stroke: 2px var(--outline-color);

  text-shadow:
     /* main 3D shadow */ 1px 0px 0 var(--shadow-color),
    2px 1px 0 var(--shadow-color), 3px 2px 0 var(--shadow-color),
    4px 3px 0 var(--shadow-color), 5px 4px 0 var(--shadow-color),
    6px 5px 0 var(--shadow-color), 7px 6px 0 var(--shadow-color),
    8px 7px 0 var(--shadow-color), 9px 8px 0 var(--shadow-color),
    10px 9px 0 var(--shadow-color), 11px 10px 0 var(--shadow-color),
    12px 11px 0 var(--shadow-color),
    /* bottom right */ 0 1px 1px var(--outline-color),
    0 2px 0px var(--outline-color),
    /* bottom right corner */ 11px 10px 0px var(--outline-color),
    12px 11px 0px var(--outline-color), 13px 12px 0px var(--outline-color),
    14px 13px 0px var(--outline-color),
    /* top right */ 2px -1px 0 var(--outline-color),
    3px 0px 0 var(--outline-color),
    /* top right corner*/ 15px 11px 0 var(--outline-color),
    14px 10px 0 var(--outline-color), 13px 9px 0 var(--outline-color),
    12px 8px 0 var(--outline-color), 11px 7px 0 var(--outline-color),
    10px 6px 0 var(--outline-color), 9px 5px 0 var(--outline-color),
    8px 4px 0 var(--outline-color), 7px 3px 0 var(--outline-color),
    6px 2px 0 var(--outline-color), 5px 1px 0 var(--outline-color),
    4px 0px 0 var(--outline-color),
    /* bottom left / (bottom left side for capital T like H etc letters. */ 0px
      2px 0px var(--outline-color),
    1px 3px 0px var(--outline-color), 2px 4px 0px var(--outline-color),
    3px 5px 0px var(--outline-color), 4px 6px 0px var(--outline-color),
    5px 7px 0px var(--outline-color), 6px 8px 0px var(--outline-color),
    7px 9px 0px var(--outline-color), 8px 10px 0px var(--outline-color),
    9px 11px 0px var(--outline-color), 10px 12px 0px var(--outline-color),
    11px 13px 0px var(--outline-color);
}

.textShadow-yellow:hover {
  --shadow-color: #ffeeda; /* 80% */
  --outline-color: #ff8f03; /* 20% darker */
  -webkit-text-stroke: 2px var(--outline-color);

  text-shadow:
     /* main 3D shadow */ 1px 0px 0 var(--shadow-color),
    2px 1px 0 var(--shadow-color), 3px 2px 0 var(--shadow-color),
    4px 3px 0 var(--shadow-color), 5px 4px 0 var(--shadow-color),
    6px 5px 0 var(--shadow-color), 7px 6px 0 var(--shadow-color),
    8px 7px 0 var(--shadow-color), 9px 8px 0 var(--shadow-color),
    10px 9px 0 var(--shadow-color), 11px 10px 0 var(--shadow-color),
    12px 11px 0 var(--shadow-color),
    /* bottom right */ 0 1px 1px var(--outline-color),
    0 2px 0px var(--outline-color),
    /* bottom right corner */ 11px 10px 0px var(--outline-color),
    12px 11px 0px var(--outline-color), 13px 12px 0px var(--outline-color),
    14px 13px 0px var(--outline-color),
    /* top right */ 2px -1px 0 var(--outline-color),
    3px 0px 0 var(--outline-color),
    /* top right corner*/ 15px 11px 0 var(--outline-color),
    14px 10px 0 var(--outline-color), 13px 9px 0 var(--outline-color),
    12px 8px 0 var(--outline-color), 11px 7px 0 var(--outline-color),
    10px 6px 0 var(--outline-color), 9px 5px 0 var(--outline-color),
    8px 4px 0 var(--outline-color), 7px 3px 0 var(--outline-color),
    6px 2px 0 var(--outline-color), 5px 1px 0 var(--outline-color),
    4px 0px 0 var(--outline-color),
    /* bottom left / (bottom left side for capital T like H etc letters. */ 0px
      2px 0px var(--outline-color),
    1px 3px 0px var(--outline-color), 2px 4px 0px var(--outline-color),
    3px 5px 0px var(--outline-color), 4px 6px 0px var(--outline-color),
    5px 7px 0px var(--outline-color), 6px 8px 0px var(--outline-color),
    7px 9px 0px var(--outline-color), 8px 10px 0px var(--outline-color),
    9px 11px 0px var(--outline-color), 10px 12px 0px var(--outline-color),
    11px 13px 0px var(--outline-color);
}
