@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #f3e7d7;
  }

  body {
    font-family: 'Golos Text', sans-serif;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

@layer colors {
  .black {
    color: #060a0d;
  }
  .cream {
    color: #f3e7d7;
  }
  .green {
    color: #145048;
  }
  .blue {
    color: #014ba4;
  }
  .purple {
    color: #b25685;
  }
  .red {
    color: #cd4022;
  }
  .yellow {
    color: #ffac44;
  }
}

.subject-list {
  font-family: 'Climate Crisis', serif;
}
