body {
  font-family: sans-serif;
}
/*
a:link,
a:visited {
  /* text-decoration: none;
  color: #333; */
} */

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

html {
  height: 100vh;
  background: linear-gradient(
      to right bottom,
      rgba(253, 229, 180, 0.4),
      rgba(255, 167, 166, 0.4)
    ),
    url('background.jpg') no-repeat center center fixed;
  /* background: url('background.png') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
